<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue email list</title>

    <!-- my CSS link -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <div id="app">
        <ul v-if="mailList.length === 10">
            <li v-for="mail in mailList">{{ mail }}</li>
        </ul>

        <div v-else>{{ defaultMessage }}</div>
    </div>


    <!-- CDN for Vue.js -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <!-- CDN for axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

    <!-- my JS link -->
    <script src="./assets/js/script.js"></script>
    
</body>
</html>